:root,
html,
body {
    /* add your css below */
    --mf-selection-text-color: #FFF !important;
}

#alltabs-button {
    display: none !important;
}

#unified-extensions-button {
    opacity: 0 !important;
}

.activity-stream .personalize-button {
    display: none !important;
}
@media (prefers-color-scheme: light) {
    #navigator-toolbox {
        background-color: color-mix(in srgb, var(--mf-accent-color) 20%, var(--mf-background-color-50)) !important;
        &:-moz-window-inactive {
            background-color: var(--toolbox-non-lwt-bgcolor-inactive) !important;
            color: var(--toolbox-non-lwt-textcolor-inactive);
            opacity: var(--inactive-titlebar-opacity);
        }
    }
}
@media (prefers-color-scheme: dark) {
    #navigator-toolbox {
        &:-moz-window-inactive {
            background-color: var(--toolbox-non-lwt-bgcolor-inactive) !important;
            color: var(--toolbox-non-lwt-textcolor-inactive);
            opacity: var(--inactive-titlebar-opacity);
        }
    }
}

#nav-bar {
    border-radius: 8px 8px 0 0 !important;
}

#nav-bar #back-button image {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
    padding: 5px !important;
}

#nav-bar #forward-button image {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
    padding: 5px !important;
}

.tabbrowser-tab::after {
    display: none !important;
}

.logo-and-wordmark {
    display: none !important;
}

.search-inner-wrapper {
     display: none !important;
}
html.private {
    background-color: #463e4b !important;
}

/* /////////////////////// */
/* #transparent */
/* /////////////////////// */
/*
:root#main-window {
    background-color: transparent !important;
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
    background-color: transparent !important;
}

:root #TabsToolbar,
:root #titlebar,
:root #tabbrowser-tabs {
    -moz-default-appearance: menupopup !important;
    appearance: auto !important;
    background-color: transparent !important;
}

:root:-moz-window-inactive .tab-content {
    opacity: 0.6;
}

:root {
    --toolbarbutton-hover-background: color-mix(in srgb, currentColor 11%, transparent) !important;
    --toolbarbutton-active-background: color-mix(in srgb, currentColor 21%, transparent) !important;
}

#nav-bar {
    border-radius: 0px 0px 0 0 !important;
}
*/
/* /////////////////////// */
/* /////////////////////// */