:root,
html,
body {
    /* add your css below  userChrome.chrome-refresh-2023 userChrome.system-accent-colors*/
    --md-accent-color : AccentColor;
}

#tab-preview-panel {
    display: none !important;
}

#alltabs-button {
    display: none !important;
}

#unified-extensions-button {
    opacity: 0 !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#identity-permission-box {
    display: none !important;
}

#notification-popup-box {
    display: none !important;
}

.activity-stream .personalize-button {
    display: none !important;
}

#nav-bar #back-button image {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
    padding: 5px !important;
}

#nav-bar #forward-button image {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
    padding: 5px !important;
}

.tabbrowser-tab::after {
    display: none !important;
}

.logo-and-wordmark {
    display: none !important;
}

html.private {
    background-color: #1f2020 !important;
}