/* use variables when dark mode */
@media (prefers-color-scheme: dark) {

    :root,
    html,
    body {
        --tint-background-color: #353638;
        --md-accent-color: AccentColor !important;
        --md-background-color-0: color-mix(in srgb,
                #1f2023 100%,
                var(--tint-background-color));
        --md-background-color-50: color-mix(in srgb,
                var(--md-background-color-0) 50%,
                var(--tint-background-color));
        --md-background-color-100: color-mix(in srgb,
                var(--md-white) 0%,
                var(--tint-background-color));
        --md-menu-background-color-hover: color-mix(in srgb,
                var(--md-background-color-0) 90%,
                var(--tint-background-color));
        --md-menu-border-color: color-mix(in srgb,
                var(--md-background-color-0) 100%,
                var(--tint-background-color));
        --md-content-separator-color: color-mix(in srgb,
                #121212 90%,
                var(--md-accent-color));
    }
}

/* use variables when light mode */
@media (prefers-color-scheme: light) {

    :root,
    html,
    body {
        --tint-background-color: #f2f3f4;
        --md-accent-color: AccentColor !important;
        --md-background-color-0: color-mix(in srgb,
                #bebebe 85%,
                var(--tint-background-color));
        --md-background-color-50: color-mix(in srgb,
                var(--md-background-color-0) 50%,
                var(--tint-background-color));
        --md-background-color-100: color-mix(in srgb,
                var(--md-white) 0%,
                var(--tint-background-color));
        --md-menu-background-color-hover: color-mix(in srgb,
                var(--md-background-color-0) 75%,
                var(--tint-background-color));
        --md-menu-border-color: color-mix(in srgb,
                var(--md-background-color-0) 100%,
                var(--tint-background-color));
        --md-content-separator-color: color-mix(in srgb,
                #dbdcdd 90%,
                var(--md-accent-color));
    }
}

#nav-bar {
    border-radius: 8px 8px 0px 0px !important;
}

#tab-preview-panel {
    display: none !important;
}

#alltabs-button {
    display: none !important;
}

#unified-extensions-button {
    opacity: 0 !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#identity-permission-box {
    display: none !important;
}

#notification-popup-box {
    display: none !important;
}

.activity-stream .personalize-button {
    display: none !important;
}

#nav-bar #back-button image {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
    padding: 5px !important;
}

#nav-bar #forward-button image {
    list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important;
    padding: 5px !important;
}

.tabbrowser-tab::after {
    display: none !important;
}

.logo-and-wordmark {
    display: none !important;
}

html.private {
    background-color: var(--md-grey-900-white-5-percent) !important;
}

/* ------------------------------------ */
/* Firefox Translucent Tabbar for macOS */
/* ------------------------------------ */
/*
:root#main-window {
    background-color: transparent !important;
}

:root:not(:-moz-window-inactive) #navigator-toolbox {
    background-color: transparent !important;
}

:root #TabsToolbar,
:root #titlebar,
:root #nav-bar-customization-target,
:root #PanelUI-button,
:root #tabbrowser-tabs {
    -moz-default-appearance: -moz-window-titlebar !important;
    appearance: -moz-window-titlebar !important;
    background-color: transparent !important;
}

:root:-moz-window-inactive .tab-content {
    opacity: 0.9;
}

:root {
    --toolbarbutton-hover-background: color-mix(in srgb, currentColor 11%, transparent) !important;
    --toolbarbutton-active-background: color-mix(in srgb, currentColor 21%, transparent) !important;
}

.tab-background:is([selected], [multiselected]):-moz-lwtheme {
    border: none !important;
}

#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: 0 0 0 var(--tabs-navbar-shadow-size) rgba(0, 0, 0, .1), 0 1px 5px rgba(0, 0, 0, .1) !important;
}

:root:-moz-window-inactive #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: 0 0 0 var(--tabs-navbar-shadow-size) rgba(0, 0, 0, .05) !important;
}

@media (-moz-content-prefers-color-scheme: dark) {
    :root #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
        box-shadow: 0 0 0 var(--tabs-navbar-shadow-size) hsla(280, 6%, 60%, 0.5) inset, 0 0 0 var(--tabs-navbar-shadow-size) rgba(0, 0, 0, .6), 0 1px 5px rgba(0, 0, 0, .1) !important;
    }

    :root:-moz-window-inactive #tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
        box-shadow: 0 0 0 var(--tabs-navbar-shadow-size) rgba(0, 0, 0, .4) !important;
    }
}
*/